@page
@model connect.Pages.Vet.IndexModel
@{
    ViewData["Title"] = "Vet | Login";
}

<article>
    <p>Just relax, <b>Vet Portal</b> is coming soon!</p>
    <p>Thank you for choosing Vet Connect!</p>
</article>
