@page
@model connect.Pages.Farmer.IndexModel
@{
    ViewData["Title"] = "Farmer | Login";
}
<article>
    <p>Just relax, <b>Farmer Portal</b> is coming soon!</p>
    <p>Thank you for choosing Vet Connect!</p>
</article>
