@page
@model connect.Pages.EmergencyServicesModel
@{
    ViewData["Title"] = "Our Emergency Services";
}

<article>
    <p>Just relax, <b>Our Emergency Services</b> is coming soon!</p>
    <p>Thank you for choosing Vet Connect!</p>
</article>
