@page
@model connect.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<article>
    <p>Hello, <b>Our Online Portal</b> is coming soon!</p>
    <p>Thank you for choosing Vetkonnect!</p>
</article>
