@page
@model connect.Pages.PrivacyPolicyModel
@{
    ViewData["Title"] = "Our Privacy Policy";
}

<article>
    <p>Just relax, <b>Our Privacy Policy</b> is coming soon!</p>
    <p>Thank you for choosing Vetkonnect!</p>
</article>
