@page
@model connect.Pages.ServicesModel
@{
    ViewData["Title"] = "Our Services";
}

<article>
    <p>Just relax, <b>Our Services</b> is coming soon!</p>
    <p>Thank you for choosing Vet Connect!</p>
</article>