@page
@model connect.Pages.TermsOfServiceModel
@{
    ViewData["Title"] = "Our Terms of Service";
}

<article>
    <p>Just relax, <b>Our Terms of Service</b> is coming soon!</p>
    <p>Thank you for choosing Vet Connect!</p>
</article>
